body {
    font-family: Verdana, Arial, Sans-Serif;
    font-size: 120%;
    text-decoration: none;
}

h1 {
    color: #8bc34a;
    text-align: center;
    position: relative;
}

form {
}

.form-element {
    float: left;
    width: 31%;
    text-align: center;
}

.form-input {
    float: none;
    position: relative;
    left: 20%;
    width: 60%;
}

label {
    font-size: 75%;
}

table {
    float: left;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    width: 60%;
}

tbody tr:nth-child(even) {
    background-color: #f9f9ff;
}
tbody tr:nth-child(odd) {
    background-color: #fafff4;
}

tbody tr:hover {
    background-color: #e8eaf6;
}

thead tr th{
    border:solid white 1px;
    background-color: #8bc34a;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
}

tbody tr td{
    border:solid white 1px;
}

input[type=submit], button{
    width: 80%;
}

a {
    color: #000;
    text-decoration: none;
}

.error{
    color:red;
    text-align: center;
}