body {
    font-family: Verdana, Arial;
    font-size: 120%;
}

h1 {
    color: #8bc34a;
}

table {
    padding-top: 15px;
    width: 60%;
    padding-bottom: 30px;
}

tbody tr:nth-child(even) {
    background-color: #f9f9ff;
}
tbody tr:nth-child(odd) {
    background-color: #fafff4;
}

tbody tr:hover {
    background-color: #e8eaf6;
}

thead tr th{
    border:solid white 1px;
    background-color: #8bc34a;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
}

tbody tr td{
    border:solid white 1px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 80%;
    background-color: #8bc34a;
    border: solid 1px #dcedc8;
    padding: 5px;
}

a:hover{
    background-color: #689f38;

}

.error{
    color:red;
    padding-bottom: 30px;
}